# -----------------------------
# Project Ignore Rules
# -----------------------------

# Optional: temp or revision folders
csv_files_revisions/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# R temporary files
.Rhistory
.RData
.Rproj.user/

# OS files
.DS_Store
Thumbs.db

